.Timeline {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
}

.Timeline-pointer {
    position: absolute;
    left: 50%;
    border: thin solid yellow;
    background-color: yellow;
    z-index: 10;
    height: 100%;
}

.Timeline-wrapper {
    position: relative;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    box-sizing: border-box
}