.Timeline {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.Timeline-pointer {
    position: absolute;
    left: 50%;
    border: thin solid #000;
    background-color: #ffff00;
    z-index: 10;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 3px #000
}

.Timeline-wrapper {
    position: relative;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}